.left-panel {
    width: 360px;
    position: fixed;
    height: 125%;
    overflow-y: scroll;
    left: 0;
    top: 0;
    background-color: #191919;

    &>h2{
        text-align: center;
        font-weight: bold;
        font-size: 33px;
        color: white; 
    }
    

  
  }
  