nav {
    display: flex;
    text-align: center;
    align-content: center;
    margin-left: 27%;
    background-color: #98B4B2;
    padding: 25px;
    font-family: 'Antonio Bold', sans-serif;

    &>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

    }

    &>li {
        margin-right: 40px;
        font-size: 30px;
        font-weight: bold;
    }

}